.about {
  // .about__container

  &__container {
    display: flex;
  }

  // .about__content

  &__content {
    display: flex;
    flex-direction: column;
  }

  // .about__title

  &__title {
    @include adaptiveFont(32, 18);
    margin-bottom: 18px;
  }
}
