.contacts {
  // .contacts__container

  &__container {
    display: flex;

  }

  // .contacts__content

  &__content {
    display: flex;
    flex-direction: column;
    width: 85.333%;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  // .contacts__title

  &__title {
    @include adaptiveFont(32, 18);
    margin-bottom: 18px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 40, 30, 1);
    width: 100%;
    
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 18px;
  }

  &__adress {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    p {
      font-size: 16px;
      font-weight: bold;
    }
    span {
      font-size: 16px;
      font-style: italic;
    }
  }

  &__phones-list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    font-size: 16px;
  }

  &__phones-item {
    font-size: 17px;
    position: relative;

    a {
      color: #000;
      line-height: 1;
      padding-left: rem(22);

      @media (any-hover: hover) {
        &:hover {
          color: $greenLiteColor;
        }
      }
    }

    ._icon-phone:before,
    ._icon-viber:before,
    ._icon-mail:before {
      position: absolute;
      color: #000;
      left: 0;
      top: 50%;
      transition: color ease-in-out 0.2s;
      transform: translateY(-8px);
    }

    @media (any-hover: hover) {
      a:hover._icon-phone::before,
      a:hover._icon-viber::before,
      a:hover._icon-mail:before {
        color: $greenLiteColor;
      }
    }
  }

  &__maps {
    display: flex;
    flex: 0 1 auto;
    overflow: hidden;
    @include adaptiveValue("padding-bottom", 512, 228, 1);
    // padding-bottom: 40%;
    position: relative;
    height: 100px;
    width: 100%;

    iframe {
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
