@import '../lib/variables';
@import '../lib/functions';

// ===== Footer ==========
.footer {
  position: sticky;
  background-color: $footerDark;
  @include adaptiveValue('padding-top', 30, 15, 1);
  @include adaptiveValue('padding-bottom', 60, 20, 1);
  color: #efefef;
  border-top: 4px solid $greenColor;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__layout {
    @include adaptiveValue('gap', 30, 10, 1);
    @include adaptiveValue('margin-bottom', 20, 10, 1);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__catalog {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__clients {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    gap: rem(25);
    @media (max-width: $tablet) {
      align-items: center;
    }
    &__logo {
      height: rem(40);
      width: 100%;
      background-position: left;
      @media (max-width: $tablet) {
        display: none;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: rem(15);
      @media (max-width: $tablet) {
        text-align: center;
      }
      & a {
        color: #fff;
        @media (any-hover: hover) {
          &:hover {
            color: $greenLiteColor;
          }
        }
      }
    }
  }

  &__list {
    @include adaptiveFont(14, 12);
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: #fff;
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 10, 8, 1);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $greenLiteColor;
      }
    }
  }

  .contacts-footer {
    &__block {
      display: flex;
      justify-content: space-between;
      gap: rem(20);
      flex-wrap: wrap;
    }

    &__info {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      a {
        position: relative;
        padding-left: rem(22);
        color: #fff;
        &:not(:last-child) {
          @include adaptiveValue('margin-bottom', 20, 10, 1);
        }

        @media (any-hover: hover) {
          &:hover {
            color: $greenLiteColor;
          }
        }
      }
      ._icon-mail::before {
        position: absolute;
        color: #ccc;
        left: 0;
        transition: color ease-in-out 0.2s;
      }

      @media (any-hover: hover) {
        a:hover._icon-mail::before {
          color: $greenLiteColor;
        }
      }
    }

    &__location {
      display: flex;
      flex-direction: column;
      gap: rem(8);
      position: relative;
      padding-left: rem(22);
      a {
        padding-left: 0;
      }
      div {
        transition: color ease-in-out 0.2s;
        cursor: pointer;
        @media (any-hover: hover) {
          &:hover {
            color: $greenLiteColor;
          }
        }
      }
    }

    ._icon-location::before {
      position: absolute;
      color: #ccc;
      left: 0;
      transition: color ease-in-out 0.2s;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.title-footer {
  font-size: 14px;
  font-weight: bold;
  color: $greenColor;
  margin-bottom: rem(10);
  line-height: 1.3;
}

.footer-actions.actions__contacts {
  gap: rem(11);
  flex: 1 0 auto;
  .phones-list__item {
    font-size: 13px;
  }
  .phones-list {
    gap: rem(11);
  }
  ._icon-phone::before,
  ._icon-viber::before {
    font-size: 16px;
  }
}

.social-block {
  display: inline-flex;
  flex-direction: column;
  gap: rem(10);

  @media (max-width: $mobile) {
    display: none;
  }

  .social-icon {
    display: flex;
    gap: rem(10);
  }
  ._icon-fb,
  ._icon-instagram {
    color: #efefef80;

    @media (any-hover: hover) {
      &:hover {
        color: #efefefb3;
      }
    }
  }
}

.page-up {
  position: fixed;
  right: 0px;
  bottom: -40px;
  z-index: 999;
  height: 36px;
  width: 36px;
  transition: transform 0.5s ease-in-out;

  .upButton-btn {
    border-radius: 4px;
    border: rem(1) solid #7e7e7e;
    background-color: #fff;
    box-shadow: none;
    position: relative;
    display: block;
    height: 36px;
    width: 36px;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.2s;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;

    span {
      position: absolute;
      left: rem(-75);
      top: 50%;
      font-family: sans-serif;
      font-size: 12px;
      margin-top: rem(-12);
      line-height: 26px;
      background: #333;
      border-radius: rem(4);
      color: #fff;
      padding: 0 rem(12);
      text-align: center;
      -webkit-transition: opacity 0.15s;
      -o-transition: opacity 0.15s;
      transition: opacity 0.15s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      @media (any-hover: hover) {
        opacity: 0;
      }

      &::before {
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: rem(-4);
        content: '';
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #333;
      }
    }
  }

  ._icon-arrow {
    position: absolute;
    color: #363636;
    top: 0;
    right: rem(20);
    font-size: 34px;
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        border-color: #363636;
      }
      &:hover span {
        opacity: 1;
      }
    }
  }
}
