.return {
  // .return__container

  &__container {
    display: flex;
  }

  // .return__content

  &__content {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: em(10.8);
      line-height: 1.57143;
    }
  }

  // .return__title

  &__title {
    @include adaptiveFont(32, 18);
    margin-bottom: 18px;
  }

  // .return__list-1

  &__list-1 {
    padding-left: 16px;
    li {
      list-style-type: lower-latin;
    }
  }

  // .return__list-2

  &__list-2 {
    padding-left: 16px;
    li {
      list-style-type: circle;
    }
  }

  // .return__list-3

  &__list-3 {
    padding-left: 16px;
    li {
      list-style-type: decimal;
    }
  }
}
