.services {
  // .services__container

  &__container {
    display: flex;
  }

  // .services__content

  &__content {
    display: flex;
    flex-direction: column;
  }

  // .services__title

  &__title {
    @include adaptiveFont(32, 18);
    margin-bottom: 18px;
  }

  // .services__subtitle

  &__subtitle {
    @include adaptiveFont(20, 16);
  }
}