@use "../../../../scss/lib/functions" as *;

.instagram {
  max-width: 401px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  margin: 0 auto;
  overflow: hidden;
  min-height: 710px;
  height: 710px;

  @media (max-width: $mobileSmall) {
    max-width: 342px;
    min-height: 640px;
    height: 640px;
  }

  &__frame {
    width: 414px;
    height: -webkit-fill-available;

    @media (max-width: $mobileSmall) {
      width: 355px;
    }
  }
}
