@use 'sass:math';
@import '../../scss/lib/variables';
@import '../../scss/lib/functions';

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;

  .body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(50);

    .content {
      position: relative;
      background-color: #fff;
      color: #000;
      @include adaptiveValue('padding', 30, 22, 1);
      border-radius: 4px;
      box-shadow: 0 5px 35px rgb(0 0 0 / 75%);
      width: 800px;

      & > div {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: #b2b2b2;
        padding: 4px;
        font-size: 25px;
        line-height: 0;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: #000;
        }
      }

      .title {
        @include adaptiveFont(32, 24);
        text-align: center;
        margin-bottom: 12px;
      }

      .mapResponsive {
        overflow: hidden;
        padding-bottom: 70%;
        position: relative;
        height: 0;

        iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
    }
  }
}
