@use "sass:math";
@import "../../scss/lib/variables";
@import "../../scss/lib/functions";

.container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  overflow: hidden;

  a {
    cursor: pointer;
  }
}

.title {
  display: block;
  margin-top: 2rem !important;
  @include adaptiveValue("font-size", 60, 28, 1, 1);
  text-align: center;
}

.form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  height: 40px;
}
