@import '../lib/functions';

button {
  cursor: pointer;
  font-family: $fontFamily;
  padding: 0 rem(10);
  display: flex;
  align-items: center;
  border-radius: rem(4);
  font-weight: 700;
  height: 26px;
  line-height: 0;
  transition: background-color 0.2s ease-in-out;
  &:active {
    transform: translateY(1px);
    span {
      opacity: 0.5;
    }
  }
}
