.card__labels {
  ._promo,
  ._discount {
    color: #e93f11;
    background-color: #e93f11;
  }
  ._popular {
    color: #7baf35;
    background-color: #7baf35;
  }
  ._new {
    color: #3da5ca;
    background-color: #3da5ca;
  }
}