@use "sass:math";
@use "fonts";
@use "./components/all";
@use "./lib/normalise";
@use "./lib/functions" as fn;
@use "./lib/variables" as var;

// Подключение шрифтов =======================================================
// &display=swap - добавить при подключениее через плагин
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

body.lockPadding {
  overflow-y: hidden;
}

[class*="__container"] {
  @media (max-width: fn.$tablet) {
    padding: 0 16px !important;
  }
}

// ===== Main =========

main:has(.priceList) {
  padding-bottom: 0 !important;
}

.promo {
  @include fn.adaptiveValue("margin-top", 80, 30, 1);
  @include fn.adaptiveValue("margin-bottom", 80, 30, 1);

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tabs {
    margin-bottom: 25px;
    display: flex;
    @include fn.adaptiveValue("gap", 36, 10, 1);
  }

  &__content {
    width: 100%;
    .swiper {
      @media (any-hover: hover) {
        &:hover .swiper-button-prev {
          left: fn.rem(2) !important;
        }
        &:hover .swiper-button-next,
        &:hover .swiper-button-next::before {
          right: fn.rem(2) !important;
        }
      }
    }
    .swiper-scrollbar {
      bottom: 0px;
    }
  }

  &__catalog {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    &._active-content {
      display: grid;
    }
    @media (max-width: fn.$pc) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (max-width: fn.$tablet) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    @media (max-width: fn.$mobile) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    @media (max-width: fn.$mobileSmall) {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
  }
}

.tabs {
  &__link {
    color: #3d3d3d;
    @include fn.adaptiveFont(20, 18);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &._active-tabs {
      color: var.$greenColor;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var.$greenLiteColor;
      }
    }
  }
}
.catalog {
  &__item {
    @include fn.adaptiveValue("padding", 15, 10, 1);
    transition: all 0.2s ease-in-out;
    justify-self: center;
    width: 100%;
    @media (any-hover: hover) {
      &:hover {
        border-radius: 4px;
        box-shadow: 0 7px 15px rgb(59 55 43 / 25%);
        .card__image {
          transform: scale(103%);
        }
      }
    }
    &.discontinued {
      opacity: 0.5;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
  }
}
.card {
  position: relative;

  .blinking-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: blinking 4s infinite;
    filter: blur(2px);
  }

  @keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: fn.rem(250);
    @include fn.adaptiveValue("margin-bottom", 15, 10, 1);
    transition: transform 0.2s ease-in-out;
    @media (max-width: fn.$mobile) {
      height: fn.rem(200);
    }
    @media (max-width: fn.$mobileSmall) {
      height: fn.rem(150);
    }
  }

  &__labels {
    position: absolute;
    left: 0;
    bottom: fn.rem(112);
    line-height: 1;
  }

  .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;

    &__item {
      position: relative;
      z-index: 1;
      height: fn.rem(24);
      line-height: 24px;
      padding: 0 fn.rem(9);
      border-radius: fn.rem(2) fn.rem(2) fn.rem(2) 0;

      &:not(:last-child) {
        margin-bottom: fn.rem(2);
      }

      @media (max-width: fn.$mobile) {
        height: fn.rem(20);
      }

      &::before {
        content: "";
        position: absolute;
        top: 99%;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 fn.rem(8) fn.rem(8) 0;
        border-color: transparent currentColor transparent transparent;
        filter: brightness(0.7);
      }
    }
  }

  .label-content {
    color: #fff;

    @media (max-width: fn.$mobile) {
      font-size: 12px;
      height: fn.rem(20);
      line-height: 20px;
    }
  }

  &__installments {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    pointer-events: none;

    @media (max-width: fn.$mobileSmall) {
      max-width: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
  }

  &__article {
    color: var.$greyColor;
    @include fn.adaptiveFont(11, 10);
    margin-bottom: fn.rem(4);
  }

  &__title {
    min-height: fn.rem(35);
    color: #333;
    @include fn.adaptiveFont(15, 13);
    margin-bottom: fn.rem(10);
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    @media (any-hover: hover) {
      &:hover {
        color: var.$greenLiteColor;
      }
    }
    @media (max-width: fn.$tablet) {
      min-height: fn.rem(34);
    }
    @media (max-width: fn.$mobile) {
      min-height: fn.rem(32);
    }
  }

  &__cost {
    display: flex;
    align-items: center;
    min-height: 27px;
    gap: fn.rem(15);
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    @media (max-width: fn.$mobile) {
      flex-direction: row-reverse;
      gap: 10px;
    }
    @media (max-width: fn.$mobile) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__old-price {
    line-height: 0.8;
    color: var.$greyColor;
    text-decoration: line-through;
    white-space: nowrap;
    @include fn.adaptiveFont(14, 12);
  }

  &__actual-price {
    @include fn.adaptiveFont(15, 14);
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
  }

  &__btn {
    color: #fff;
    background-color: var.$greenColor;
    font-size: 15px;
    white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        background-color: var.$greenLiteColor;
      }
    }
    @media (max-width: fn.$mobile) {
      display: none;
    }
    &.inCart {
      color: var.$greenColor;
      border: solid 1px var.$greenColor;
      background-color: #fff;
      @media (any-hover: hover) {
        &:hover {
          background-color: #52ad3a1a;
        }
      }
    }
    &.disabled {
      cursor: not-allowed;
      color: var.$greenColor;
      border: solid 1px var.$greenColor;
      background-color: #52ad3a1a;
      span {
        opacity: 0.5;
      }
    }
  }
}

// ----- categories-block --------------------------------

// ----- benefits --------------------------------
.benefits {
  background-color: #fafafa;
  @include fn.adaptiveValue("margin-top", 60, 30, 1);
  @include fn.adaptiveValue("margin-bottom", 60, 30, 1);
  @include fn.adaptiveValue("padding-top", 40, 10, 1);
  @include fn.adaptiveValue("padding-bottom", 40, 10, 1);

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @media (max-width: fn.$mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: fn.$mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: fn.rem(16);
    max-width: fn.rem(260);
    font-size: 16px;
    img {
      @include fn.adaptiveValue("width", 80, 50, 1);
      @include fn.adaptiveValue("height", 80, 50, 1);
    }
    p {
      @include fn.adaptiveFont(16, 14);
    }
  }
}

// ----- about --------------------------------
.about {
  &__block {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    @include fn.adaptiveValue("gap", 30, 20, 1);
    @media (max-width: fn.$tablet) {
      flex-direction: column;
    }
  }

  &__content {
    width: auto;
    @media (max-width: fn.$tablet) {
      width: 100%;
    }
  }

  &__blog {
    flex: 1 1 auto;
    padding-bottom: 10px;
    @media (max-width: fn.$tablet) {
      width: 100%;
    }
  }
}
.content-about {
  &__title {
    @include fn.adaptiveFont(20, 18);
    font-weight: bold;
    @include fn.adaptiveValue("margin-bottom", 15, 10, 1);
  }

  &__text {
    p {
      text-align: justify;
      line-height: 1.6;
      &:not(:last-child) {
        margin-bottom: em(8.4);
      }
    }
  }
}
.blog-about {
  &__title {
    display: block;
    color: #333;
    @include fn.adaptiveFont(20, 18);
    font-weight: bold;
    @include fn.adaptiveValue("margin-bottom", 15, 10, 1);
  }

  &__items-wrapper {
    overflow-x: auto;
    width: 100%;
  }

  &__items {
    display: flex;
    flex-direction: column-reverse;
    gap: fn.rem(20);
    @include fn.adaptiveValue("margin-bottom", 20, 10, 1);
    @media (max-width: fn.$tablet) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-bottom: fn.rem(10);
    }
  }

  &__item {
    display: flex;
    flex: 0 1 auto;
    gap: fn.rem(20);
    cursor: pointer;
    @media (max-width: fn.$tablet) {
      flex-direction: column;
      max-width: fn.rem(180);
    }
  }

  &__btn {
    cursor: pointer;
    border: 1px solid #7e7e7e;
    border-radius: fn.rem(4);
    padding: fn.rem(3) fn.rem(12) fn.rem(3);
    background-color: #fff;
    color: #363636;
    font-size: 14px;
    transition: border-color 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        border-color: #363636;
      }
    }
    @media (max-width: fn.$tablet) {
      display: none;
    }
  }
}
.blog-item {
  &__img {
    height: fn.rem(80);
    width: fn.rem(180);
    border-radius: fn.rem(4);
    overflow: hidden;
    flex: 0 0 auto;
    &.ibg {
      background-size: cover;
    }
    @media (max-width: fn.$tablet) {
      width: fn.rem(180);
      height: fn.rem(120);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.rem(6);
  }

  &__date {
    color: var.$greyColor;
    font-size: 11px;
  }

  &__text {
    min-width: fn.rem(120);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 20px;
    color: #333;
    transition: color ease-in-out 0.2s;
  }
  @media (any-hover: hover) {
    &:hover {
      .blog-item__text {
        color: var.$greenLiteColor;
      }
    }
  }
}

.priceList {
  position: relative;
  transform: translateY(0px);
}

// =================================================
