@use 'sass:math';
@import '../../scss/lib/variables';
@import '../../scss/lib/functions';

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 9;

  .body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(30);

    .content {
      position: relative;
      background-color: #fff;
      color: #000;
      @include adaptiveValue('padding-top', 30, 26, 1);
      @include adaptiveValue('padding-bottom', 30, 22, 1);
      @include adaptiveValue('padding-left', 30, 14, 1);
      @include adaptiveValue('padding-right', 30, 14, 1);
      border-radius: 4px;
      box-shadow: 0 5px 35px rgb(0 0 0 / 75%);
      max-width: 800px;

      & > div {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: #b2b2b2;
        padding: 4px;
        font-size: 25px;
        line-height: 0;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: #000;
        }
      }

      .title {
        @include adaptiveFont(32, 24);
        margin-bottom: 12px;
      }

      .text {
        @include adaptiveValue('margin-bottom', 32, 18, 1);
        line-height: 1.55;
        font-size: 14px;
      }

      .form {
        display: flex;
        flex-direction: column;
        @include adaptiveValue('gap', 20, 18, 1);
        align-items: flex-end;
        padding-right: 10px;
        font-size: 14px;

        @media (max-width: $mobile) {
          padding-right: 0;
        }

        label {
          position: relative;
          display: flex;
          align-items: center;
          span {
            min-width: 60px;
          }
          @media (max-width: $mobile) {
            width: 100%;
          }
        }

        input {
          border: 1px solid $greyColor;
          border-radius: 4px;
          padding: 8px;
          font-size: 16px;
          margin-left: 10px;
          width: rem(360);

          &:focus {
            border-color: #333;
            outline: none;
          }

          @media (max-width: $mobile) {
            width: 100%;
            margin-left: 5px;
          }
        }

        .input__btn {
          cursor: pointer;
          padding: rem(16);
          display: flex;
          align-items: center;
          align-self: start;
          border-radius: rem(4);
          line-height: 0;
          transition: background-color 0.2s ease-in-out;
          background-color: $greenColor;
          color: #fff;
          height: rem(38);
          margin-left: rem(119);

          span {
            display: block;
            @include adaptiveFont(18, 16);
            font-weight: normal;
          }

          &:active {
            transform: translateY(1px);
            span {
              opacity: 0.5;
            }
          }

          @media (max-width: $mobile) {
            margin: 0 auto;
            height: rem(24);
          }
        }

        p {
          position: absolute;
          @include adaptiveFont(12, 10);
          @include adaptiveValue("bottom", -16, -12, 1);
          left: 72px;
          color: #bf1650;

          &::before {
            display: inline;
            content: '⚠ ';
          }
        }
      }
    }
  }
}
