@use "sass:math";
@use "../../scss/lib/variables" as var;
@use "../../scss//lib/functions" as fn;

.categories_block {
  // &__title {
  //   text-align: center;
  //   @include fn.adaptiveValue('margin-bottom', 25, 10, 1);
  //   @include fn.adaptiveFont(20, 18);
  //   font-weight: bold;
  //   color: #3d3d3d;
  //   a {
  //     color: var.$greenColor;
  //     @media (any-hover: hover) {
  //       &:hover {
  //         color: var.$greenLiteColor;
  //       }
  //     }
  //   }
  // }

  &__items {
    display: grid;
    justify-content: center;
    @include fn.adaptiveValue("gap", 30, 10, 1);
    grid-template-columns: repeat(auto-fill, minmax(130px, 11%));
    @media (max-width: 1167px) {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
    @media (max-width: fn.$tablet) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    @media (max-width: fn.$mobile) {
      grid-template-columns: repeat(auto-fill, minmax(89px, 1fr));
    }
    @media (max-width: fn.$mobileSmall) {
      grid-template-columns: repeat(auto-fill, minmax(67px, 1fr));
    }
  }

  &__item {
    i {
      // color: $footerDark;
      color: var.$greenColor;
      transition: color 0.2s ease-in-out;
      @include fn.adaptiveFont(100, 60);
      text-align: center;
    }
    a {
      padding: 5px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #000;
      transition: all 0.2s ease-in-out;
      @media (any-hover: hover) {
        &:hover {
          i,
          p {
            color: var.$greenLiteColor;
          }
        }
      }
      p {
        display: flex;
        justify-content: center;
        flex: 1 0 auto;
        align-items: flex-end;
        transition: all 0.2s ease-in-out;
        // text-align: center;
        // font-weight: bold;

        @include fn.adaptiveFont(18, 14);

        & {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
