@use 'sass:math';
@import '../../scss/lib/variables';
@import '../../scss/lib/functions';

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 9;

  .body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(30);

    .content {
      position: relative;
      background-color: #fff;
      color: #000;
      @include adaptiveValue('padding-top', 30, 26, 1);
      @include adaptiveValue('padding-bottom', 30, 22, 1);
      @include adaptiveValue('padding-left', 30, 14, 1);
      @include adaptiveValue('padding-right', 30, 14, 1);
      border-radius: 4px;
      box-shadow: 0 5px 35px rgb(0 0 0 / 75%);
      // max-width: 800px;

      & > div {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: #b2b2b2;
        padding: 4px;
        font-size: 25px;
        line-height: 0;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: #000;
        }
      }

      .title {
        @include adaptiveFont(32, 24);
        margin-bottom: 12px;
      }

      .text {
        // @include adaptiveValue('margin-bottom', 32, 18, 1);
        line-height: 1.55;
        font-size: 14px;
      }
    }
  }
}
