@use 'sass:math';
@import 'fonts';
@import './components/all';
@import './lib/normalise';
@import './lib/functions';

// Подключение шрифтов =======================================================
// &display=swap - добавить при подключениее через плагин
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

body.lockPadding {
  overflow-y: hidden;
}

[class*='__container'] {
  @media (max-width: $tablet) {
    padding: 0 16px;
  }
}

// ===== Main =========

.promo {
  @include adaptiveValue('margin-top', 60, 30, 1);
  @include adaptiveValue('margin-bottom', 60, 30, 1);

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tabs {
    margin-bottom: 25px;
    display: flex;
    @include adaptiveValue('gap', 36, 10, 1);
  }

  &__content {
    width: 100%;
    .swiper {
      @media (any-hover: hover) {
        &:hover .swiper-button-prev {
          left: rem(2) !important;
        }
        &:hover .swiper-button-next,
        &:hover .swiper-button-next::before {
          right: rem(2) !important;
        }
      }
    }
    .swiper-scrollbar {
      bottom: 0px;
    }
  }

  &__catalog {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    &._active-content {
      display: grid;
    }
    @media (max-width: $pc) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
  }
}

.tabs {
  &__link {
    color: #3d3d3d;
    @include adaptiveFont(20, 18);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &._active-tabs {
      color: $greenColor;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $greenLiteColor;
      }
    }
  }
}
.catalog {
  &__item {
    @include adaptiveValue('padding', 15, 10, 1);
    transition: all 0.2s ease-in-out;
    justify-self: center;
    @media (any-hover: hover) {
      &:hover {
        border-radius: 4px;
        box-shadow: 0 7px 15px rgb(59 55 43 / 25%);
        .card__image {
          transform: scale(103%);
        }
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
  }
}
.card {
  position: relative;
  &__image {
    display: block;
    width: 100%;
    height: rem(250);
    @include adaptiveValue('margin-bottom', 15, 10, 1);
    transition: transform 0.2s ease-in-out;
    @media (max-width: $mobile) {
      height: rem(200);
    }
    @media (max-width: $mobileSmall) {
      height: rem(150);
    }
  }

  &__labels {
    position: absolute;
    left: 0;
    bottom: rem(112);
    line-height: 1;
  }

  .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
      position: relative;
      z-index: 1;
      height: rem(24);
      line-height: 24px;
      padding: 0 rem(9);
      border-radius: rem(2) rem(2) rem(2) 0;
      &:not(:last-child) {
        margin-bottom: rem(2);
      }
      @media (max-width: $mobile) {
        height: rem(20);
      }
      &::before {
        content: '';
        position: absolute;
        top: 99%;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 rem(8) rem(8) 0;
        border-color: transparent currentColor transparent transparent;
        filter: brightness(0.7);
      }
    }
  }
  .label-content {
    color: #fff;
    @media (max-width: $mobile) {
      font-size: 12px;
      height: rem(20);
      line-height: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
  }

  &__article {
    color: $greyColor;
    @include adaptiveFont(11, 10);
    margin-bottom: rem(4);
  }

  &__title {
    min-height: rem(35);
    color: #333;
    @include adaptiveFont(15, 13);
    margin-bottom: rem(10);
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    @media (any-hover: hover) {
      &:hover {
        color: $greenLiteColor;
      }
    }
    @media (max-width: $tablet) {
      min-height: rem(34);
    }
    @media (max-width: $mobile) {
      min-height: rem(32);
    }
  }

  &__cost {
    display: flex;
    align-items: center;
    min-height: 27px;
    gap: rem(15);
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    @media (max-width: $mobile) {
      flex-direction: row-reverse;
      gap: 10px;
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__old-price {
    line-height: 0.8;
    color: $greyColor;
    text-decoration: line-through;
    white-space: nowrap;
    @include adaptiveFont(14, 12);
  }

  &__actual-price {
    @include adaptiveFont(15, 14);
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
  }

  &__btn {
    color: #fff;
    background-color: $greenColor;
    font-size: 15px;
    white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        background-color: $greenLiteColor;
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
    &.inCart {
      color: $greenColor;
      border: solid 1px $greenColor;
      background-color: #fff;
      @media (any-hover: hover) {
        &:hover {
          background-color: #52ad3a1a;
        }
      }
    }
  }
}

// ----- categories-block --------------------------------

// ----- benefits --------------------------------
.benefits {
  background-color: #fafafa;
  @include adaptiveValue('margin-top', 60, 30, 1);
  @include adaptiveValue('margin-bottom', 60, 30, 1);
  @include adaptiveValue('padding-top', 40, 10, 1);
  @include adaptiveValue('padding-bottom', 40, 10, 1);

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(16);
    max-width: rem(260);
    font-size: 16px;
    img {
      @include adaptiveValue('width', 80, 50, 1);
      @include adaptiveValue('height', 80, 50, 1);
    }
    p {
      @include adaptiveFont(16, 14);
    }
  }
}

// ----- about --------------------------------
.about {
  &__block {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    @include adaptiveValue('gap', 30, 20, 1);
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__content {
    width: auto;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__blog {
    flex: 1 1 auto;
    padding-bottom: 10px;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
.content-about {
  &__title {
    @include adaptiveFont(20, 18);
    font-weight: bold;
    @include adaptiveValue('margin-bottom', 15, 10, 1);
  }

  &__text {
    p {
      text-align: justify;
      line-height: 1.6;
      &:not(:last-child) {
        margin-bottom: em(8.4);
      }
    }
  }
}
.blog-about {
  &__title {
    display: block;
    color: #333;
    @include adaptiveFont(20, 18);
    font-weight: bold;
    @include adaptiveValue('margin-bottom', 15, 10, 1);
  }

  &__items {
    display: flex;
    flex-direction: column-reverse;
    gap: rem(20);
    @include adaptiveValue('margin-bottom', 20, 10, 1);
    @media (max-width: $tablet) {
      flex-direction: row;
      overflow-x: auto;
      padding-bottom: 10px;
    }
  }

  &__item {
    display: flex;
    gap: rem(20);
    cursor: pointer;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__btn {
    cursor: pointer;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    padding: rem(3) rem(12) rem(3);
    background-color: #fff;
    color: #363636;
    font-size: 14px;
    transition: border-color 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        border-color: #363636;
      }
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
.blog-item {
  &__img {
    height: 80px;
    width: 120px;
    border-radius: 4px;
    overflow: hidden;
    flex: 0 0 auto;
    &.ibg {
      background-size: cover;
    }
    @media (max-width: $tablet) {
      border-radius: 0;
      width: 180px;
      height: 120px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(6);
  }

  &__date {
    color: $greyColor;
    font-size: 11px;
  }

  &__text {
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 20px;
    color: #333;
    transition: color ease-in-out 0.2s;
  }
  @media (any-hover: hover) {
    &:hover {
      .blog-item__text {
        color: $greenLiteColor;
      }
    }
  }
}

// =================================================
